.content {
  text-align: center;
  .title {
    padding-top: 32px;
    h1 {
      font-size: 64px;
    }
    h2 {
      padding-top: 16px;
    }
  }
  .center-form {
    display: flex;
    justify-content: center;

    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .form {
    display: flex;
    gap: 8px;

    button {
      height: 52px;
      margin-top: 4px;
    }
  }
}
