<div class="container">
  <div class="side-left">
<!--    <h3>Savings</h3>-->
    <mat-form-field class="full-width">
      <mat-label>Price of charger in €</mat-label>
      <input matInput placeholder="1500" [(ngModel)]="chargerCost">
    </mat-form-field>

    <div class="checkboxes">
      <mat-checkbox class="checkboox" [(ngModel)]="hasElectricCar">I have an electric car</mat-checkbox>
      <mat-checkbox class="checkboox" [(ngModel)]="hasSolar">I have Solar panels</mat-checkbox>
    </div>

    <app-profits-chart [hasElectricCar]="hasElectricCar" [hasSolar]="hasSolar" [chargerCost]="chargerCost"></app-profits-chart>

    <app-savings-chart [hasElectricCar]="true" [hasSolar]="hasSolar"></app-savings-chart>

<!--    <h3>CO2 Impact</h3>-->

<!--    <app-stacked-chart></app-stacked-chart>-->

<!--    <h3>CO2 Impact</h3>-->

<!--    <app-stacked-chart></app-stacked-chart>-->
  </div>
  <div class="side-right">
    <app-heat-map *ngIf="currentMapDisplayed === 'heatmap'" [lat]="lat" [long]="long"></app-heat-map>
    <app-electric-range-map *ngIf="currentMapDisplayed === 'rangemap'" [lat]="lat" [long]="long"></app-electric-range-map>
    <app-footer [(currentlyDisplaying)]="currentMapDisplayed"></app-footer>
  </div>
</div>
