<div class="container">
  <div class="side-left">
    <h3>Savings</h3>

    <app-savings-chart></app-savings-chart>

    <h3>CO2 Impact</h3>

    <app-stacked-chart></app-stacked-chart>

    <h3>CO2 Impact</h3>

    <app-stacked-chart></app-stacked-chart>
  </div>
  <div class="side-right">
    <app-heat-map *ngIf="currentMapDisplayed === 'heatmap'" [lat]="lat" [long]="long"></app-heat-map>
    <app-electric-range-map *ngIf="currentMapDisplayed === 'rangemap'" [lat]="lat" [long]="long"></app-electric-range-map>
    <app-footer [(currentlyDisplaying)]="currentMapDisplayed"></app-footer>
  </div>
</div>
